.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 0em;
    padding: 1em;
}

div.col-md-2 {
    background-color: #606c38;
}

h3 {
    background-color: #606c38;
    margin: 0;
    padding: 13px;
    color: white;
}