.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 0em;
    padding: 1em;
}

div.col-md-2 {
    background-color: #606c38;
}

.form-title {
    background-color: #606c38;
    padding: 13px;
    color: white;
    margin-bottom: 0;
}
.add-song-button {
    margin-top: 1rem;
    background-color:#606c38;
    border-color: #606c38;
    color: white;
    border-radius: 10px;
}
